In [ ]:
import pandas as pd

# CSV 파일 경로 설정
# 데이터셋에 넣는 게 중요
file_path = "dataset/diabetes.csv"

# CSV 파일 읽기
df = pd.read_csv(file_path)

# 데이터프레임 확인
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# pymysql 설치 : pip install pymysql
import pymysql

In [8]:
# MariaDB 연결 설정
def connect_to_mariadb():
    return pymysql.connect(
        host='localhost',          # MariaDB 서버 주소
        user='root',               # 사용자 이름
        password='kirito1013@',  # 비밀번호
        database='test',  # 데이터베이스 이름
        charset='utf8mb4'
    )

In [9]:
   # 연결 테스트
connection = connect_to_mariadb()
print("MariaDB에 연결되었습니다!")
connection.close()

MariaDB에 연결되었습니다!

In [10]:
# 테이블 및 컬럼 생성
def create_table_from_csv(connection, df, table_name):
    cursor = connection.cursor()

    # 테이블 생성 SQL 동적 생성
    columns = []
    for col, dtype in zip(df.columns, df.dtypes):
        if "int" in str(dtype):
            col_type = "INT"
        elif "float" in str(dtype):
            col_type = "FLOAT"
        else:
            col_type = "VARCHAR(255)"  # 문자열 타입 처리
        columns.append(f"`{col}` {col_type}")

    columns_sql = ", ".join(columns)
    create_table_sql = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns_sql});"
    
    #테이블 생성 실행
    cursor.execute(create_table_sql)
    connection.commit()
    print(f"테이블 '{table_name}'이(가) 생성되었습니다.")

In [11]:
# 테이블 생성 실행
table_name = "AItable"
connection = connect_to_mariadb()
create_table_from_csv(connection, df, table_name)

테이블 'AItable'이(가) 생성되었습니다.